.flex-container {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 601px) {
    .flex-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .main-content {
        flex-grow: 1;
    }

    .sidebar {
        flex-basis: 20%;
    }
}

.header, .main-content, .sidebar, .footer {
    padding: 20px;
    margin: 10px;
    background-color: lightgrey;
}
